<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Room</title>
    <link rel="stylesheet" href="../css/style.css">
    <style>
        body {
            background: #373E4A;
        }
    </style>
</head>
<body>
<div id="container-createRoom">
    <div id="title">
        Create Room
    </div>

    <form method="post" action="/room/create">
        <div class="input" style="margin-top: 20px">
            <input id="roomName" placeholder="Room Name" name="title" type="text" required class="validate">
        </div>

        <input type="hidden" name="ownerId" value="1">
        <input type="hidden" name="capacity" value="1">
        <div class="clearfix"></div>

        <div class="input">
            <select name="remark" id="visibility-select" onchange="togglePasswordInput()">
                <option value="true">공개</option>
                <option value="false">비공개</option>
            </select>
        </div>

        <div id="passwordInput" class="input" style="display: none;">
            <input id="password" placeholder="Password" name="password" type="password" class="validate">
        </div>

        <div>
            <input type="number" id="maxCapacity" name="maxCapacity" value="2" required min="2" max="8"/>
        </div>
        <div class="clearfix"></div>
        <input type="submit" style="margin: auto;
    width: 240px;
    border-radius: 4px;
    background-color: #373b3d;
    padding: 8px 0px;
    margin-top: 50px;" value="Create"/>

    </form>
    <form action="/main" method="get">
        <input type="submit" style="margin: auto;
    width: 240px;
    border-radius: 4px;
    background-color: #373b3d;
    padding: 8px 0px;
    margin-top: 20px;" value="취소"/>
    </form>
</div>

<script>
    function togglePasswordInput() {
        var selectElement = document.getElementById("visibility-select");
        var passwordInput = document.getElementById("passwordInput");

        if (selectElement.value === "false") {
            passwordInput.style.display = "block";
            document.getElementById("password").required = true;
        } else {
            passwordInput.style.display = "none";
            document.getElementById("password").required = false;
        }
    }
</script>
</body>
</html>
